.header {
  display: flex;
  width: 1920px;
  height: 88px;

  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: var(--interface-modal-bg, #1c1c21);
  margin-top: 40px;
}
