.navigation {
display: flex;
width: 1280px;
height: 56px;
padding: 16px 320px;
justify-content: center;
align-items: center;
flex-shrink: 0;
justify-content: space-between;
}

.link {
    text-decoration: none;
    color: inherit;
}