.ingridentModalBlock {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 100%;
  max-width: 575px;
  max-height: 640px;
}

.nullModal {
  margin-top: 200px;
}

.title {
  display: inherit;
  justify-content: center;
  width: -webkit-fill-available;
}

.main {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 480px;
  height: 240px;
}

.compound {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-inline-start: 0;
  list-style-type: none;
  margin: 0;
}

.compoundBlock {
  display: flex;
  text-align: center;
  gap: 8px;
  flex-direction: column;
}